body{
  color:#333333;
  font-size:16px;
  line-height:1.4;
  background-color:#ffffff;
  font-family: Exo2-Light, serif;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
select.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Кнопка вызова выпадающего списка главного меню */
.my-style .link-dark,
.my-style .link-dark:focus,
.my-style .link-dark:hover {
  color: #ffffff !important;
}
/* Кнопка вызова выпадающего списка главного меню */